@import url("/assets/css/header.css");

:root{
    --color-backgroud: #EBECEE;
    --color-header: #FFFFFF;
    --color-laranja:  #EB9B00;
    --color-azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
}

body{
    background-color: var(--color-backgroud);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

